body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

  .row { 
    border-bottom: 1px solid black;  
  }

  .col, .col-1 {
    padding: 2px;
  }

  .past {
    background-color: lightgrey;
  }

  .present {
    background-color: tomato;
  }

  .future {
    background-color: lightgreen;
  }
